.App {
	.Nav {
		border-top: 2.5px solid #FFCE00;
		background: #52545B;
		margin: 20px 0px 0px 0px;
		ul {
			list-style: none;
			display: flex;
			justify-content: center;
			padding: 5px 0px 0px 0px;
    	margin: 0px;
			li {
				padding: 10px 15px;
				color: #fff;
				cursor: pointer;
				outline: none;
				color: #FFF;
				font-size: 18px;
				font-weight: 500;
			}
			.nav-item-active {
				border-bottom: 4px solid #FFCE00;
			}
		}
	}
	.Content {
		margin: 30px 0px;
		.UserRegister {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.UsersList{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

.input {
    padding: 10px 15px;
    width: 300px;
    border-radius: 5px;
    border: solid 1px lightgray;
    margin: 0px 0px 20px 0px;
    outline: none;
}