.RegisterPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  .RegisterPage-nav{
    background-color: #52545B;
    width: 100%;
    color: #fff;
    border-top: 2.5px solid #FFCE00;
    margin-top: 20px;
    ul{
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0px;
      padding: 0px;
      li{
        font-size: 18px;
        font-weight: 600;
        padding: 15px;
        cursor: pointer;
      }
      .link-active{
        border-bottom: 4px solid #FFCE00;
      }
    }
  }
  .RegisterPage-content{
    margin: 30px 10px;
  }
}